.logo1 {
  display:flex;
  justify-content:center;
  height:90px;
}

.nav-list{
  display:flex;
  justify-content:center;
}

.nav-item{
  list-style:none;
  margin-right:2rem;
}

.nav-item a {
  text-decoration:none;
  color:black;
  font-family:sans-serif;
  font-size:35px;
}

.nav-item a:hover{
  color:white;
  transition:300ms;
}

body{
  background:#f2d596;
}

.ornament{
  display:flex;
  justify-content:center;
}

.slideshow {
  display:flex;
  justify-content:center;
  margin-bottom:1rem;
  margin-top:1rem;
}

#slider {
  position:relative;
  width:1800px;
  height:500px;
  overflow:hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
#slider ul {
  position:relative;
  list-style:none;
  height:100%;
  width:1000%;
  padding:0;
  margin:0;
  transition: all 750ms ease;
  left:0;
}
#slider ul li {
  position:relative;
  height:100%;
 
  float:left;
}
#slider ul li img{
  width:1800px;
  height:500px;
}
 
#slider #prev, #slider #next {
  width:50px;
  line-height:50px;
  border-radius:50%;
  font-size:2rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  text-align:center;
  color: white;
  text-decoration:none;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  transition:all 150ms ease;
}
#slider #prev:hover, #slider #next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0;
}
#slider #prev {
  left:10px;
}
#slider #next {
  right:10px;
}

.img-container{
  height:800px;
  width:1200px;
  position:relative;
}

.logo2 {
  display:flex;
  justify-content:center;
  height:60px;
}

p {
  font-family:sans-serif;
}


footer{
  display:flex;
  justify-content:center;
  margin-top:1rem;
}

.info{
  position: relative;
  left:30px;
}

.phone{
  position:relative;
  left:6px;
}

.zip{
  position:relative;
  right:6px;
}

.street{
  position:relative;
  right:10px;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-right:1rem;
  margin-left:1rem;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #C13584;
  color: white;
}
